@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #f7f7f7; /* Light background for better contrast */
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
